<h2>About</h2>
<p>
    Cryptocurrencies are all the rage right now. Wouldn't it be cool to build a website that shows Crypto news automatically? That's what we'll learn in this course!

    We'll build a website using Ruby on Rails and Bootstrap that connects to a free third party crypto API.

    We'll be able to pull news stories, crypto price data, and all kinds of cool stuff, and output it onto the screen of our website automatically. 

</p>